
<script>
  // Adds class of js to the html tag if JS is enabled
  document.getElementsByTagName('html')[0].className += 'js';
  // Adds class of svg to the html tag if svg is enabled
  (function flagSVG() {
      var ns = {'svg': 'http://www.w3.org/2000/svg'};
      if(document.implementation.hasFeature("http://www.w3.org/TR/SVG11/feature#BasicStructure", "1.1")) {document.getElementsByTagName('html')[0].className += ' svg';}
  })();
</script>
<script src="/js/vendor/jquery-1.11.3.min.js?895323ed2f7258af4fae2c738c8aea49"></script>
<script src="/js/build/app.min.js?v=25bbdfde7d87372b146f36496e1950c1"></script>

  <script src="/js/vendor/segment.min.js"></script>
  <script type="text/javascript">
    analytics.load('rrZlYpGGcdrLvloIXwGTqX8ZAQNsB9A0');
  </script>

<script type="text/javascript">
    analytics.identify(
      '20200352-0c23-4d49-b6ce-c9db82605da5',
      {
        anonymousId: '20200352-0c23-4d49-b6ce-c9db82605da5'
      },
      {
        integrations: {
          'All': true,
          'Intercom': false
        }
      }
    );
</script>

<script type="text/javascript">
  analytics.page();
</script>
