<footer id="footer" class="site-footer">
  <link rel="stylesheet" href="/style/build/footer.min.css"><script> </script>

    <div id="signup" class="backdrop-bright site-cta site-cta--primary">

      <div class="layout-container--skinny">

        <form class="site-cta__form" method="get" action="/auth/github">
          <button class="site-cta__form__button button--secondary" type="submit">Sign up with GitHub</button>
        </form>

        <p class="site-cta__disclaimer">We don't need access to your repositories, just your email address.</p>

      </div>

    </div>


  <div class="layout-nav">

    <nav class="nav nav--footer nav--social">
      <span class="nav__list__item__label">Snyk on:</span>
      <ul class="nav__list">
        <li class="nav__list__item">
          <a href="https://twitter.com/snyksec" class="nav__list__item__link">Twitter</a>
        </li>
        <li class="nav__list__item">
          <a href="mailto:contact@snyk.io" class="nav__list__item__link">Email</a>
        </li>
        <li class="nav__list__item">
          <a href="https://github.com/Snyk/" class="nav__list__item__link">Github</a>
        </li>
        <li class="nav__list__item">
          <a href="https://www.npmjs.com/snyk" class="nav__list__item__link">npmjs.com</a>
        </li>
      </ul>
    </nav>

    <nav class="nav nav--footer">
      <ul class="nav__list">
        <li class="nav__list__item">
          <a href="/about/" class="nav__list__item__link">About</a>
        </li>
        <li class="nav__list__item">
          <a href="/blog/" class="nav__list__item__link">Blog</a>
        </li>
        <li class="nav__list__item">
          <a href="https://github.com/snyk/support" class="nav__list__item__link">Support</a>
        </li>
        <li class="nav__list__item">
          <a href="/policies/" class="nav__list__item__link">Policies</a>
        </li>
      </ul>
    </nav>

  </div>

</footer>
