<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta http-equiv="Content-Language" content="en-us">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Snyk</title>
    <base href="https://snyk.io/">
    <meta name="description" content="So Now You Know">
    <link rel="icon" type="image/png" href="/style/asset/favicon/favicon.png" sizes="194x194">
    <link rel="icon" type="image/png" href="/style/asset/favicon/android-chrome.png" sizes="192x192">
    <link rel="apple-touch-icon" href="/style/asset/favicon/apple-touch-icon.png" sizes="180x180">
    <link rel="shortcut icon" href="/style/asset/favicon/favicon.ico">
    <link rel="mask-icon" href="/style/asset/favicon/safari-pinned-tab.svg">
    <link rel="alternate" type="application/rss+xml" href="/blog/feed.xml" title="Snyk Blog">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-TileImage" content="/style/asset/favicon/mstile.png">
    <meta name="theme-color" content="#333152">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:image" property="og:image" content="/images/snyk-avatar.png">
    <meta name="twitter:site" content="@snyksec">
    <meta name="twitter:title" property="og:title" content="Snyk">
    <meta name="twitter:description" property="og:description" content="Find &amp; fix known vulnerabilities in Node.js dependencies.">
    <link rel="stylesheet" href="/style/build/all.min.css">
    <!--[if lt IE 9]>
    <script src="/js/vendor/html5shiv.js"></script>
    <![endif]-->
  </head>
  <body class="section-{{page.layout}}">
