{% include head.html %}

<!-- Place this data between the <head> tags of your website -->
<title>{{ page.title }}</title>
<meta name="description" content="{{ page.excerpt }}" />

<!-- Schema.org markup for Google+ -->
<meta itemprop="name" content="{{ page.title }}">
<meta itemprop="description" content="{{ page.excerpt }}">
<meta itemprop="image" content="{{ page.image }}">

<!-- Twitter Card data -->
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@snyksec">
<meta name="twitter:title" content="{{ page.title }}">
<meta name="twitter:description" content="{{ page.excerpt }}">
<meta name="twitter:creator" content="@snyksec">
<meta name="twitter:image" content="{{ page.image }}">

<!-- Open Graph data -->
<meta property="og:title" content="{{ page.title }}" />
<meta property="og:type" content="article" />
<meta property="og:url" content="{{ page.url }}" />
<meta property="og:image" content="{{ page.image }}" />
<meta property="og:description" content="{{ page.excerpt }}" />
<meta property="og:site_name" content="Snyk" />

{% include head.html %}

{% include header.html %}

  <div class="layout-container {% if page.container == 'full' %}layout-container--full{% endif %}">

    <article class="post {% if page.draft %}status--draft{% endif %}">

      <div class="layout-split">

        <div class="layout-split__major layout-split__major--push-bottom">

          <div class="post__header">
            <h1 class="post__title">{{ page.title }}</h1>
          </div>

          <div class="post__content">
            {{ content | markdownify }}
          </div>

          <div class="backdrop-glowing u--push-bottom-l">
            <aside class="layout-aside">
              <h3 class="layout-aside__text u--push-bottom-l">{{page.cta1-description}}</h3>
              <p>
                <a class="button button--secondary" data-snyk-track-on-click="CTA1 clicked - {{page.title}}" href="{{page.cta1-analytics-click-event}}">{{page.cta1-button-text}}</a>
              </p>
            </aside>
          </div>

        </div>

          <div class="layout-split__minor">

            <div class="backdrop-glowing u--push-bottom-l">
              <aside class="layout-aside">
                <h3 class="layout-aside__text u--push-bottom-l">{{page.cta2-description}}</h3>
                <p>
                  <a class="button button--secondary" data-snyk-track-on-click="{{page.cta2-analytics-click-event}}" href="{{page.cta2-button-link}}">{{page.cta2-button-text}}</a>
                </p>
              </aside>
            </div>

            {{ page.sidebar-text | markdownify }}

          </div>

        </div>

    </article>

  </div>

  {% include footer.html %}

  {% include foot-scripts.html %}
  {% include foot.html %}
