{% include head.html %}

{% include header.html %}

<div class="backdrop-alternate">
  <div class="layout-container u--centered">
    <h1 class="header__title">{{page.title}}</h1>
    <p class="header__description__info">{{page.top-description}}</p>
    <button class="button--secondary button--tight">{{page.top-button-text}}</button>
  </div>
</div>

{% for feature in site.features %}
<div class="backdrop-alternate">
  <div class="layout-container">
    <div class="layout-cols layout-cols--centered layout-cols--ordered">
      <div class="layout-cols__item feature {% if feature.image-left %}{% else %}layout-cols__item--first{% endif %}">
        <h2>{{ feature.title }}</h2>
        {{feature.content | markdownify}}
      </div>
      <div class="layout-cols__item feature {% if feature.image-left %}layout-cols__item--first{% endif %} {% if feature.images %}layout-assorted layout-assorted--pull{% endif %}">
        {% if feature.images %}
          {% for image in feature.images %}
            <img src="{{image.image}}" alt="{{image.image-caption}}">
          {% endfor %}
        {% elsif feature.image %}
          <img src="{{feature.image}}" alt="{{feature.image-caption}}">
        {% elsif feature.code %}
{{feature.code}}
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endfor %}

<div class="backdrop-alternate layout-stacked__content layout-stacked__content--secondary u--flat-bottom">
  <div class="layout-container u--centered">
    <p class="header__description__info">{{page.bottom-description}}</p>
    <button class="button--tight u--push-bottom-xxl">{{page.bottom-button-text}}</button>
  </div>
</div>

{% include footer.html %}

{% include foot-scripts.html %}
{% include foot.html %}
