{% include head.html %}

{% include header.html %}

<link rel="stylesheet" href="/style/build/main.min.css?c4469be4aa9a568fae7e98722e2e95de"><script> </script><!-- Why this is here: https://jakearchibald.com/2016/link-in-body/ -->

<div class="backdrop-dark">
  <div class="layout-container ">
    <div class="layout-cols">
      <div class="layout-cols__item">
        <h1 class="u--push-top-s">{{page.title}}{% if page.subtitle %} <span class="text--complement">{{page.subtitle}}</span>{% endif %}</h1>
      </div>
      <div class="layout-cols__item">
        <img src="{{page.main-image}}" alt="{{page.main-image-caption}}">
      </div>
    </div>
  </div>
</div>

<div class="backdrop-bright u--centered">
  <div class="layout-container layout-container--skinny">
    <h2 class="h3 u--flat-bottom u--push-top-s">{{page.cta-heading}}</h2>
    <form id="add--mygithub" action="/add" method="get">
      <button id="add--mygithub__submit" type="submit" class="u--push-bottom-m">{{page.cta-button-text}}</button>
    </form>
    <div class="u--push-bottom-m"><a href="{{page.cta-link-url}}">{{page.cta-link-text}}</a></div>
  </div>
</div>

<div class="backdrop-positive">
  <div class="layout-container">
    <div class="layout-cols">
      <div class="layout-cols__item">
      {% for feature in page.features-left %}
        <div class="teaser--media">
          <div class="teaser__content">
            <h3 class="teaser__title">{{feature.feature-title}}</h3>
            <p class="teaser__text">{{feature.feature-description}}</p>
          </div>
          <img class="teaser__image" src="{{feature.feature-image}}" alt="{{feature.feature-image-caption}}"/>
        </div>
      {% endfor %}
      </div>
      <div class="layout-cols__item">
      {% for feature in page.features-right %}
        <div class="teaser--media">
          <div class="teaser__content">
            <h3 class="teaser__title">{{feature.feature-title}}</h3>
            <p class="teaser__text">{{feature.feature-description}}</p>
          </div>
          <img class="teaser__image" src="{{feature.feature-image}}" alt="{{feature.feature-image-caption}}"/>
        </div>
      {% endfor %}
      </div>
    </div>
    {% if page.features-link-text %}<p class="u--centered u--flat-bottom byline"><a href="{{page.features-link-url}}">{{page.features-link-text}}</a></p>{% endif %}
  </div>
</div>


<div class="backdrop-dark">
<div class="layout-container">
  <h2 class="container-title u--centered">{{page.security-heading}}</h2>
  <p class="u--centered text--complement byline">{{page.security-description}}</p>
  {% if page.security-image %}
  <div class="u--centered">
    <img src="{{page.security-image}}" alt="">
  </div>
  {% else %}
  <div class="screenshot--large">
    {% include mock-cli-output.html %}
  </div>
  {% endif %}

  <p class="u--centered u--flat-bottom byline"><a href="{{page.security-link-url}}">{{page.security-link-text}}</a></p>

  </div>
</div>

{% if page.dev-title %}
<div class="backdrop-positive">
  <div class="layout-container--tight">
    <h2 class="u--centered u--push-top-s">{{page.dev-title}}</h2>
    <ul class="list--ticked">
      {% for options in page.dev-options %}
      <li>{{options.option}}</li>
      {% endfor %}
    </ul>
    <p class="byline u--centered"><a href="{{page.dev-link-url}}">{{page.dev-link-text}}</a></p>
  </div>
</div>
{% endif %}

{% if page.team-heading %}
<div class="backdrop-positive layout-stacked__content--secondary">
  <div class="layout-container layout-container--centered layout-container--skinny">
    <h2 class="h3 u--push-top-s">{{page.team-heading}}</h2>
    <ul class="logos">
      {% for logos in page.logos %}
      <li class="logos__item">
        <img class="logos__item__image" src="{{logos.url}}" alt="{{logos.company}}" />
      </li>
      {% endfor %}
    </ul>
  </div>
  {% if testimonial.quote %}
  <div class="layout-stacked__section layout-container--raised">
    <div class="layout-container--tight layout-container--short layout-container--raised">
      {% for testimonial in page.testimonials %}
      <div class="testimonial u--push-bottom-xl">
        <img class="testimonial__image" src="{{testimonial.image-url}}" alt="{{testimonial.image-caption}}"/>
        <blockquote class="testimonial__text u--push-bottom-xl">
          <p>“{{testimonial.quote}}”</p>
          <cite>— {{testimonial.author}}, <strong>{{testimonial.company}}</strong></cite>
        </blockquote>
      </div>
      {% endfor %}
    </div>
  </div>
  {% endif %}
</div>
{% endif %}

{% include footer.html %}

{% include foot-scripts.html %}
{% include foot.html %}
