{% include head.html %}

{% include header.html %}

<div class="backdrop-positive">

<div class="layout-container--tight layout-container--push">

  <h1>Policies</h1>

  <ul id="markdown-toc">
    {% for policy in site.policies %}
    <li><a href="#{{policy.title | slugify}}">{{policy.title}}</a></li>
    {% endfor %}
  </ul>

  {% for policy in site.policies %}
  <div class="u--push-bottom-xxl {% unless forloop.first == true %}layout-section{% endunless %}">
    <h2 id="{{policy.title | slugify}}">{{policy.title}}</h2>
    {% if policy.date-modified %}<p><strong>Dated: {{policy.date-modified}}</strong></p>{% endif %}
    {{policy.content | markdownify}}
  </div>
  {% endfor %}

</div>

</div>

{% include footer.html %}

{% include foot-scripts.html %}
{% include foot.html %}
